<div class="charity">

  @if (charity) {

    <h2>{{ charity.title }}</h2>
    <p>{{ charity.description }}</p>

    <h3>Comments</h3>

    @for (c of comments; track c.id) {
      <div class="comment">

        <div (click)="goUser(c.userId)">
          {{ c.user }}
        </div>

        <p>{{ c.text }}</p>

      </div>
    }

    <textarea [(ngModel)]="newComment"></textarea>
    <button (click)="addComment()">Add Comment</button>

  }
  <div class="back-home">
  <a routerLink="/">← Back to Home</a>
</div>

</div>