<div class="profile">
  <img [src]="user.avatar">

  <h2>{{ user.username }}</h2>
  <p>{{ user.email }}</p>
  <p>{{ user.region }}</p>
  <p>Balance: {{ user.balance }}</p>

  <div class="tabs">
    <button (click)="tab='profile'">Profile</button>
    <button (click)="tab='donations'">Donations</button>
  </div>

  @if (tab === 'donations') {
    @for (d of donations; track d.id) {
      <p>{{ d.amount }}</p>
    }
  }
  <div class="back-home">
  <a routerLink="/">← Back to Home</a>
</div>

</div>