<<<<<<< HEAD
body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background:white;
  color: green;
}

button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  background: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #2980b9;
}

.card {
  background: white;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
=======
/* You can add global styles to this file, and also import other style files */
>>>>>>> 6a9f894fe70bc5f3994362db1fcbd94f55675dec
